[tool.black]
line-length = 119
target-version = ["py311"]
extend-exclude = '''
# A regex preceded with ^/ will apply only to files and directories
# in the root of the project.
(
  ^/env
  | ^/migrations
)
'''

[tool.isort]
profile = "black"
skip_glob = ["env/*", "migrations/*"]